<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<th:block th:replace="~{/layout/basic :: setContent(~{this :: content})}">
    <th:block th:fragment="content">
        <style>
            .uploadResult{
                width: 100%;
                background-color: white;
                margin-top: 10px;
            }
            .uploadResult ul{
                display: flex;
                flex-flow: row;
                justify-items: center;
                align-items: center;
                vertical-align: top;
                overflow: auto;
            }
            .uploadResult ul li{
                list-style: none;
                padding: 10px;
                margin-left: 2em;
            }
            .uploadResult ul li img{
                width: 100px;
            }
        </style>

        <input th:with="account=${#authentication.name}" th:type="hidden" name="account" th:value="${account}">

        <h1 class="mt-4">Board Read Page</h1>
        <div class="form-group">
            <label>Board No.</label>
            <input type="text" name="bno" th:value="${dto.bno}" class="form-control" readonly style="font-weight: bold">
        </div>
        <div class="form-group">
            <label>Title</label>
            <input type="text" name="title" th:value="${dto.title}" class="form-control" readonly>
        </div>
        <div class="form-group">
            <label>Content</label>
            <textarea type="text" name="content" class="form-control" readonly>[[${dto.content}]]</textarea>
        </div>
        <div class="form-group">
            <label>Writer</label>
            <input type="text" name="writer" th:value="${dto.anonymous}? '익명' : ${dto.writer}" class="form-control" readonly>
        </div>
        <div class="form-group">
            <label>RegDate</label>
            <input type="text" th:value="${#temporals.format(dto.regDate, 'yyyy / MM / dd')}" class="form-control" readonly>
        </div>
        <div class="form-group">
            <label>ModDate</label>
            <input type="text" th:value="${#temporals.format(dto.modDate, 'yyyy / MM / dd')}" class="form-control" readonly>
        </div>

        <div class="uploadResult">
            <ul>
                <li th:each="uploadDTO : ${dto.uploadList}">
                    <div class="uploadDiv" th:data-url="${uploadDTO.getImageURL()}">
                        <a th:href="@{/download(fileName=${uploadDTO.getImageURL()})}">[[${uploadDTO.fileName}]]</a>
                    </div>
                    <img th:if="${uploadDTO.image}" th:src="|/display?fileName=${uploadDTO.getThumbnailURL()}">
                    <img th:if="${!uploadDTO.image}" th:src="|/display?fileName=${uploadDTO.getAttachURL()}">

                </li>
            </ul>
        </div>

        <a th:if="${#authentication.name == dto.writer}" th:href="@{/board/modify(bno=${dto.bno}, page=${requestDTO.page}, size=${requestDTO.size}, keyword=${requestDTO.keyword}, type=${requestDTO.type})}">
            <button class="btn btn-outline-primary">MODIFY</button>
        </a>
        <a th:href="@{/board/list(page=${requestDTO.page}, size=${requestDTO.size}, keyword=${requestDTO.keyword}, type=${requestDTO.type})}">
            <button class="btn btn-outline-secondary">LIST</button>
        </a>

        <!-- Modal -->
        <div class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Reply Window</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>Reply</label>
                            <input class="form-control" type="text" name="text">
                        </div>
                        <div class="form-group">
                            <label>Replyer</label>
                            <input type="text" th:value="${#authentication.name}" class="form-control" name="replyer" readonly>
                            <input type="hidden" name="rno">
                        </div>
                        <div>
                            <label>Anonymous</label>
                            <input type="checkbox" name="anonymous">
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-danger replyRemove">REMOVE</button>
                            <button class="btn btn-warning replyModify">MODIFY</button>
                            <button class="btn btn-primary replySave">SAVE</button>
                            <button class="btn btn-secondary replyClose" data-dismiss="modal">CLOSE</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal -->



        <div class="mt-4">
            <h5><span class="badge badge-info addReply">ADD REPLY</span></h5>
            <h5><span class="badge badge-secondary replyCount">Reply Count [[${dto.replyCnt}]]</span></h5>
        </div>
        <div class="list-group replyList">

        </div>


        <script th:inline="javascript">
            $(document).ready(function () {

                const account = $("input[name='account']").val();
                console.log(account);

                const bno = [[${dto.bno}]];
                const listGroup = $(".replyList");
                const modal = $(".modal");

                //특정 파일 목록 클릭 시 이벤트(다운로드)
                /*$(".uploadDiv").on("click", function (e){
                    let url = $(this).data("url");
                    console.log(url);

                    $.ajax({
                        url:`/download?fileName=${url}`,
                        method:'get',
                        success: (result) => {
                            console.log(result);
                        }
                    })
                });*/

                //특정 댓글 클릭 시 이벤트
                $(".replyList").on("click", ".card-body", function(e) {

                    let rno = $(this).data("rno");
                    let text = $(this).find(".card-title").html();
                    let replyer = $(this).find(".card-subtitle").html();


                    console.log("rno: " + rno + ", text:" + text +", replyer: " + replyer);

                    if(account == replyer){
                        $("input[name='text']").val(text);
                        $("input[name='replyer']").val(replyer).attr("readonly", "readonly");
                        if(replyer == "익명")
                            $("input:checkbox[name='anonymous']").prop("checked", true);
                        else
                            $("input:checkbox[name='anonymous']").prop("checked", false);

                        $(".modal .btn").hide('hide');
                        $(".replyRemove, .replyModify, .replyClose").show('show');
                        modal.show('show');

                        //Reply Modify Click
                        $(".replyModify").on("click", (e) => {

                            let reply = {
                                rno:rno,
                                bno:bno,
                                text:$("input[name='text']").val(),
                                anonymous:$("input:checkbox[name='anonymous']").is(":checked") == true
                            };

                            console.log(reply);

                            if(confirm(`${rno}번 댓글을 수정하시겠습니까?`)){
                                $.ajax({
                                    url:`/replies/${rno}`,
                                    method: 'put',
                                    data: JSON.stringify(reply),
                                    contentType: 'application/json; charset=utf-8',
                                    success: (msg) => {
                                        if(msg === 'success'){
                                            alert(`${rno}번 댓글이 수정되었습니다.`);
                                            modal.hide('hide');
                                            loadJSONData();
                                        }
                                    }
                                });
                            }
                        });
                        //REMOVE Reply Click
                        $(".replyRemove").on("click", (e) => {

                            if(confirm(`${rno}번 댓글을 삭제하시겠습니까?`)) {
                                $.ajax({
                                    url:`/replies/${rno}`,
                                    method: 'delete',
                                    success: (msg) => {
                                        if(msg === 'success'){
                                            alert(`${rno}번 댓글이 삭제되었습니다.`);
                                            modal.hide('hide');
                                            loadJSONData();
                                        }
                                    }
                                });
                            }
                        })
                    }
                });

                //ADD REPLY Click
                $(".addReply").on("click", (e) => {

                    $(".modal .btn").hide();
                    $(".replySave, .replyClose").show()
                    $("input[name='text']").val('');
                    $("input:checkbox[name='anonymous']").prop("checked", false);
                    modal.show('show');
                })
                //Modal Close Button Click
                $(".replyClose, .close").on("click", (e) => {
                    $("input[name='text']").val('');
                    modal.hide('hide');
                })

                //Reply Save Button Click
                $(".replySave").on("click", (e) => {

                    let reply = {
                        bno:bno,
                        text:$("input[name='text']").val(),
                        replyer:$("input[name='replyer']").val(),
                        anonymous:$("input:checkbox[name='anonymous']").is(":checked") == true
                    };

                    console.log(reply);

                    $.ajax({
                        url:'/replies/',
                        method:'post',
                        data:JSON.stringify(reply),
                        contentType:'application/json; charset=utf-8',
                        dataType:'json',
                        success:(rno) => {
                            console.log("rno : " + rno);
                            alert(rno + "번 댓글이 작성되었습니다.");
                            modal.hide('hide');
                            loadJSONData();
                    }
                    });
                });

                //날짜 처리를 위한 함수
                let formatTime = function (str){
                    const date = new Date(str);

                    return `${date.getFullYear()}/
                    ${date.getMonth() + 1}/
                    ${date.getDate()}
                    ${date.getHours()} :
                    ${date.getSeconds()}`;
                }

                //특정한 게시글의 댓글을 처리하는 함수
                let loadJSONData = () => {
                    $.getJSON(
                        `/replies/board/${bno}`, (result) => {
                            console.log(result);

                            let str = '';

                            $(".replyCount").html(" Reply Count " + result.length);

                            $.each(result, (idx, obj) => {
                                console.log(obj[0]);
                                console.log(obj[1]);

                                let reply = obj[0];
                                let profileURL = "/img/attach.png";

                                if(obj[1] != null)
                                    profileURL = `/display?fileName=${obj[1].thumbnailURL}`;

                                let writer;
                                if(reply.anonymous)
                                    writer = '익명';
                                else
                                    writer = reply.replyer;

                                str += `<div class="card-body" data-rno="${reply.rno}"><b>${reply.rno}</b>
                                        <h5 class="card-title">${reply.text}</h5>
                                        <h6 class="card-subtitle mb-2 text-muted"><img style="height: 50px; width: 60px; border-radius: 50%" src="${profileURL}">${writer}</h6>
                                        <p class="card-text">${formatTime(reply.regDate)}</p>
                                        </div>`;
                            })
                            listGroup.html(str);
                        }
                    )
                }

                $(".replyCount").on("click", (e) => {
                    loadJSONData();
                })
            });
        </script>
    </th:block>
</th:block>
</html>