<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout/customBasic :: setContent(~{this :: content})}">
    <th:block th:fragment="content">
        <form action="/member/modify" method="post" enctype="multipart/form-data">
            <div>
                <img style="height: 100px; width: 100px; border-radius: 50%" th:src="${dto.profileDTO != null}? @{/display(fileName=${dto.profileDTO.getThumbnailURL()})} : @{/img/attach.png}" alt="profile-Icon">
            </div>
            <div>
                <label>Profile Icon</label>
                <input type="file" name="multipartFile">
            </div>
            <div>
                <label>Account</label>
                <input type="text" th:value="${dto.account}" name="account" readonly>
            </div>
            <div>
                <label>Name</label>
                <input type="text" th:value="${dto.name}" name="name">
            </div>
            <!--<div>
                <label>비밀번호 재설정</label>
                <input type="password" name="tmp-pw">
            </div>
            <div>
                <label>비밀번호 확인</label>
                <input type="password" name="tmp-pw-check">
            </div>-->
            <div>
                <label>Profile</label>
                <textarea rows="6" cols="30" th:name="profile">[[${dto.profile}]]</textarea>
            </div>
            <div>
                <button>Submit</button>
            </div>
        </form>

<script th:inline="javascript">

    $(document).ready(function(){
        const member = [[${dto}]];

        console.log(member);
    });
</script>
    </th:block>
</th:block>
