<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<th:block th:replace="~{/layout/basic :: setContent( ~{this :: content})}">
    <th:block th:fragment="content">

        <!--ROLE_USER 권한을 갖는다면 이 글이 보임-->
        <h1 sec:authorize="hasRole('ADMIN')">Has admin Role</h1>
        <br/>

        <!--ROLE_ADMIN 권한을 갖는다면 이 글이 보임-->
        <h1 sec:authorize="hasRole('USER')">Has user Role</h1>
        <br/>

        <!--어떤 권한이건 상관없이 인증이 되었다면 이 글이 보임-->
        <div sec:authorize="isAuthenticated()">
            Only Authenticated user can see this Text
        </div>
        <br/>

        <!--인증시 사용된 객체에 대한 정보-->
        <b>Authenticated DTO:</b>
        <div sec:authentication="principal"></div>
        <br/>

        <!--인증시 사용된 객체의 Username (ID)-->
        <b>Authenticated username:</b>
        <div sec:authentication="name"></div>
        <br/>

        <!--객체의 권한-->
        <b>Authenticated user role:</b>
        <div sec:authentication="principal.authorities"></div>
        <br/>

        <div th:text="${member}"></div>
    </th:block>
</th:block>

</html>